/* You can add global styles to this file, and also import other style files */
 

body {

    line-height: 1.6 !important;

    font-family: "Roboto", sans-serif !important;

    -webkit-font-smoothing: antialiased !important;

    font-size: 16px !important;

    color: #6F8BA4 !important;

    font-weight: 400 !important;

    overflow-x: hidden !important;

}
.btn1 {

    display: inline-block;

    font-size: 14px !important;

    font-size: 0.8125rem;

    font-weight: 700;

    letter-spacing: .5px;

    padding: 0.75rem 2rem;

    font-family: "Exo", sans-serif;

    text-transform: uppercase;

    border-radius: 5px;

    border: 2px solid transparent;

    transition: all .35s ease;

    text-decoration: none;

}

 

.btn1:hover {

    background: #e12454;

    border-color: transparent;

}


 

h1,.h1,

h2,.h2,

h3,.h3,

h4,.h4,

h5,.h5,

h6,.h6 {

    font-family: "Exo", sans-serif;

    font-weight: 700 !important;

    color: #222 !important;

}

h3,.h3 {

    font-size: 1.5rem !important;

}