<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-lg-1">
        <img src="../../assets/images/medical-5459632_1280.png" alt="" class="signup-img">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <h2 class="text-center">Sign Up</h2>
        <form method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
