<section class="appointment section">

  <div class="container">

    <div class="row">

      <div class="col-lg-4">

        <div>

          <img src="../../../assets/images/pexels-los-muertos-crew-8460371.jpg" class="add-img">

        </div>

      </div>

      <div class="col-lg-8">

        <div class="add-doctor mt-5 mt-lg-0 pl-lg-5">

          <h2 class="mb-2 text-color">Update Doctor Detail</h2>

          <form [formGroup]="doctorForm" (ngSubmit)="updateDoctorDetails()">

            <div class="form-group">

              <label for="doctorId">Doctor ID</label>

              <!-- [value]="doctorData.doctorId" -->

              <input type="text" class="form-control" id="doctorId" name="doctorId" formControlName="doctorId"

                readonly />

              <label for="doctorName">Doctor Name</label>

              <input type="text" class="form-control" id="doctorName" name="doctorName" placeholder="Doctor Name"

                formControlName="doctorName" [ngClass]="{'input-error':(submitted || f['doctorName'].touched) && f['doctorName'].errors}" />

                <div *ngIf="(submitted || f['doctorName'].touched) && f['doctorName'].errors" class="text-danger small">

                  <span *ngIf="f['doctorName'].errors?.['required']">Doctor Name is required</span>

              </div>
            </div>

            <div class="mt-3">

              <button class="btn1 btn-main btn-round-full" type="submit"
              >Submit</button>

              <button class="btn" (click)="doReset()">Cancel</button>

            </div>

          </form>

        </div>

 

      </div>

 

    </div>

 

  </div>

 

</section>