<!--Page title section-->



<section class="page-title bg-1">



  <div class="overlay"></div>



  <div class="container">



    <div class="row">



      <div class="col-md-12" style="position: relative">



        <div class="block text-center">



          <span class="text-white"></span>



          <h1 class="text-capitalize mb-5 text-lg">Today's Surgeries</h1>



        </div>



      </div>



    </div>



  </div>



</section>



<section class="section team">



  <div class="container">



    <div class="row justify-content-center">



      <div class="col-lg-6">



        <div class="section-title text-center">



          <h2 class="mb-4">Filter by Specializations</h2>



          <div class="divider mx-auto my-4"></div>





        </div>



      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <select name="" id="" class="form-control" [(ngModel)]="categoryFilter">
          <option [value]="s.specializationCode"
           *ngFor="let s of specializations; let i = index;" [attr.disabled]="i == specializations.length-1 ? true : null"
           [attr.selected]="i == specializations.length-1 ? true : null">{{s.specializationName}}</option>
      </select>
      </div>
    </div>
  </div>
</section>

<!-- Display error message in the center if errorMsg is not null -->

<div class="text-center mt-2">{{ errorMsg }}</div>



<!-- Display the main content if errorMsg is null -->

<div *ngIf="errorMsg == null" class="row mt-1 main">

  <div class="col-md-10 mx-auto text-center">

    <!-- Dropdown for filtering surgeries by category -->
    <!-- <div class="row">
      <div class="col-lg-4">
        <select class="form-select depselect" [(ngModel)]="categoryFilter">
          <option value="">No Filter</option>
          <option [value]="s.specializationCode" *ngFor="let s of specializations">{{s.specializationCode}}</option>
        </select>
      </div>

    </div> -->

    <!-- <div class="form-group dropdown">

      <select [(ngModel)]="categoryFilter">

        <option value="ANE">ANE</option>

        <option value="CAR">CAR</option>

        <option value="">No Filter</option>

      </select>

    </div> -->



    <!-- List of surgeries -->

    <div class="surgery-list">

      <!-- Iterate over surgery items -->
      <p *ngIf="filteredSurgeryList.length==0">No Surgery scheduled for {{categoryFilter}}</p>

      <div class="surgery-item" *ngFor="let s of filteredSurgeryList">

        <!-- Surgery category band with dynamic background color -->

        <div class="surgery-band">

          <div class="surgery-category-band" [style.backgroundColor]="getCategoryColor(s.surgeryCategory)">

            {{ s.surgeryCategory }}

          </div>

        </div>



        <!-- Surgery details -->

        <div class="surgery-details">

          <!-- Surgery ID -->

          <div class="surgery-id">Surgery ID: {{ s.surgeryId }}</div>



          <!-- Surgery date formatted as dd/MM/yyyy -->

          <div class="surgery-date">{{ s.surgeryDate | date : "dd/MM/yyyy" }}</div>



          <!-- Start Time Label and Info on the same line -->

          <div class="label-info">

            <div class="label">Start Time:</div>

            <div class="info">{{ s.startTime }}</div>

          </div>



          <!-- End Time Label and Info on the same line -->

          <div class="label-info">

            <div class="label">End Time:</div>

            <div class="info">{{ s.endTime }}</div>

          </div>



          <!-- Doctor ID -->

          <div class="surgery-doctor">Doctor ID: {{ s.doctorId }}</div>

        </div>



        <!-- Surgery actions, e.g., edit surgery time button -->

        <div class="surgery-actions">

          <div class="btn btn-color" (click)="editSurgery(s.surgeryId)" *ngIf="role=='Admin'">

            Edit Surgery Time

          </div>

        </div>

      </div>

    </div>

  </div>

</div>