.LoginF {
    padding: 50px;
    background:#384D75;
   display: flex;
   flex-direction: column;
   justify-content: center;
//    align-items: center;
    // padding: 50px;
    // padding-bottom: 20%;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
}
h2.loginh2{
    margin-top: 30px;
    // color: #0056b3;
    color: white !important;
}
.logdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button:hover {
    background-color: #0056b3;
}
.userprofile{
    font-size: 80px;
    text-align: center;
}
section {
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.loginformdiv label{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;

}
.loginbtn{
    width: 120px;
    height: 30px;
    line-height: 15px;
    background-color:#e12454;
    color: white;
    border-radius: 10px;
}
.signuplink{
    color: white;
}

.formInCenter {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-img{
    width: 100%;
    height: 100%;
}



// .header {
//     text-align: center;
//     margin-right: 3%;
//     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
// }