// .footer{
//     margin-bottom: 0px !important;
//     width: 100vw !important;
//     max-width: 100% !important;
// }

.footer {

    padding-bottom: 10px;
  
  }
  
  .footer .copyright a {
  
    font-weight: 600;
  
  }
  
   
  
  .widget .footer-menu a {
  
    color: #6F8BA4;
  
  }
  
  .widget .footer-menu a:hover {
  
    color: #e12454;
  
  }
  
   
  
  .footer-contact-block span {
  
    font-weight: 400;
  
    color: #6F8BA4;
  
  }
  
  .footer-contact-block i {
  
    font-size: 20px;
  
  }
  
   
  
  .footer-btm {
  
    border-top: 1px solid rgba(0, 0, 0, 0.06);
  
  }
  
   
  
  .footer-socials li a {
  
    width: 45px;
  
    height: 45px;
  
    background: #6F8BA4;
  
    color: #fff;
  
    display: inline-block;
  
    text-align: center;
  
    border-radius: 100%;
  
    padding-top: 12px;
  
  }
  
   
  
  .section {
  
    padding: 50px 0 20px 0;
  
  }
  
   
  
   
  
  .gray-bg {
  
    background: #f4f9fc;
  
  }
  
   
  
  .widget .divider {
  
    height: 3px;
  
  }
  
  .widget h4 {
  
    color: #223a66;
  
  }
  
  .widget .footer-menu a {
  
    color: #6F8BA4;
  
  }
  
  .widget .footer-menu a:hover {
  
    color: #e12454;
  
  }
  
   
  
  .widget-contact h6 {
  
    font-weight: 500;
  
    margin-bottom: 18px;
  
  }
  
  .widget-contact h6 i {
  
    color: #e12454;
  
  }
  
   
  
  .logo {
  
    font-weight: 600;
  
    letter-spacing: 1px;
  
  }
  
  .logo h3 {
  
    color: #223a66;
  
  }
  
  .logo span {
  
    color: #223a66;
  
  }
  
   
  
  .footer-socials li a {
  
    width: 45px;
  
    height: 45px;
  
    background: #6F8BA4;
  
    color: #fff;
  
    display: inline-block;
  
    text-align: center;
  
    border-radius: 100%;
  
    padding-top: 12px;
  
  }
  
   
  
  .divider {
  
    width: 40px;
  
    height: 5px;
  
    background: #e12454;
  
  }
  
   
  
  .footer-btm {
  
    border-top: 1px solid rgba(0, 0, 0, 0.06);
  
  }
  
   
  
   
  
  .backtop {
  
    position: fixed;
  
    background: #223a66;
  
    z-index: 9999;
  
    display: inline-block;
  
    right: 55px;
  
    width: 50px;
  
    height: 50px;
  
    bottom: 50px;
  
    text-align: center;
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
    opacity: 0;
  
    border-radius: 50px;
  
    transition: 0.3s;
  
  }
  
  @media (max-width: 992px) {
  
    .backtop {
  
      bottom: 40px;
  
      right: 15px;
  
    }
  
  }
  
  @media (max-width: 768px) {
  
    .backtop {
  
      width: 45px;
  
      height: 45px;
  
    }
  
  }
  
  .backtop:hover {
  
    background-color: #e12454;
  
  }
  
  .backtop i {
  
    color: #fff;
  
    font-size: 20px;
  
  }
  
   
  
  a{
  
    text-decoration: none;
  
  }