<footer class="footer section gray-bg">

  <div class="container">

      <div class="row">

          <div class="col-lg-5 mr-auto col-sm-6">

              <div class="widget mb-5 mb-lg-0">

                  <div class="logo mb-4">

          <a href="#">

            <i

              id="icon1"

              class="fa-solid fa-hospital"

              style="font-size: 75px; color: #e12454"

            ></i>

          </a>

                  </div>

                  <p>At Curewell , Our dedicated team of healthcare professionals is committed to healing lives and restoring hope to patients and their families through innovative and compassionate care.</p>



                  <ul class="list-inline footer-socials mt-4">

                      <li class="list-inline-item">

                          <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>

                      </li>

                      <li class="list-inline-item">

                          <a href="https://x.com/"><i class="bi bi-twitter-x"></i></a>

                      </li>

                      <li class="list-inline-item">

                          <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>

                      </li>

                  </ul>

              </div>

          </div>



          <div class="col-lg-2 col-md-6 col-sm-6 ml-">

              <div class="widget mb-5 mb-lg-0">

                  <h4 class="text-capitalize mb-3">Department</h4>

                  <div class="divider mb-4"></div>



                  <ul class="list-unstyled footer-menu lh-35">

                      <li><a href="#!">Surgery </a></li>

                      <li><a href="#!">Wome's Health</a></li>

                      <li><a href="#!">Radiology</a></li>

                      <li><a href="#!">Cardioc</a></li>

                      <li><a href="#!">Medicine</a></li>

                  </ul>

              </div>

          </div>



          <div class="col-lg-2 col-md-6 col-sm-6">

              <div class="widget mb-5 mb-lg-0">

                  <h4 class="text-capitalize mb-3">Support</h4>

                  <div class="divider mb-4"></div>



                  <ul class="list-unstyled footer-menu lh-35">

                      <li><a href="#!">Terms & Conditions</a></li>

                      <li><a href="#!">Privacy Policy</a></li>

                      <li><a href="#!">Company Support </a></li>

                      <li><a href="#!">FAQuestions</a></li>

                      <li><a href="#!">Company Licence</a></li>

                  </ul>

              </div>

          </div>



          <div class="col-lg-3 col-md-6 col-sm-6">

              <div class="widget widget-contact mb-5 mb-lg-0">

                  <h4 class="text-capitalize mb-3">Get in Touch</h4>

                  <div class="divider mb-4"></div>

                  <ul class="list-unstyled footer-menu lh-35">

                      <li><a href="#!"> <i class="fa fa-clock-o me-3" aria-hidden="true"></i>  Support Available for 24/7</a></li>

                      <li><a href="#!"> <i class="fa-solid fa-envelope me-3"></i>CureWell@email.com</a></li>

                      <li><a href="#!"><i class="fas fa-home me-3"></i>Sector 52 , Gurgaon</a></li>

                      <li><a href="#!"><i class="fa-solid fa-phone me-3"></i>+98765-43210</a></li>

                  </ul>

              </div>

          </div>

      </div>



      <div class="footer-btm py-4 mt-5">

                  <div class="offset-5 align-items-center">

                      Copyright &copy; CureWell

                  </div>

          <div class="row">

              <div class="col-lg-4">

                  <a class="backtop scroll-top-to" href="#top">

                      <i class="icofont-long-arrow-up"></i>

                  </a>

              </div>

          </div>

      </div>

  </div>

</footer>