//appointment-form scss
.section {

    padding: 100px 0;

}

.bg-1 {

    background: url(/src/assets/images/title-image.jpg) no-repeat 50% 50% !important;

    background-size: cover;

    position: relative;

}

 

.page-title {

    padding: 120px 0px 70px 0px;

    position: relative;

}

.overlay:before {

    content: "";

    position: absolute;

    left: 0;

    top: 0;

    bottom: 0;

    right: 0;

    width: 100%;

    height: 100%;

    opacity: 0.9;

    background: #223a66;

}

.text-white {

    color: #fff !important;

}

.page-title .block h1 {

    color: #fff !important;

}

 

.text-lg {

    font-size: 50px;

}

.text-color{

  color: #223a66 !important;

  font-size: 44px !important;

}

.appointment-form {

    margin-top: 40px;

}

.appointment-form .form-control {

    background: #f4f9fc;

    height: 55px;

    border-color: rgba(0, 0, 0, 0.05);

}

.btn1 {

    display: inline-block;

    font-size: 14px !important;

    font-size: 0.8125rem;

    font-weight: 700;

    letter-spacing: .5px;

    padding: 0.75rem 2rem;

    font-family: "Exo", sans-serif;

    text-transform: uppercase;

    border-radius: 5px;

    border: 2px solid transparent;

    transition: all .35s ease;

    text-decoration: none;

}

 

.btn1:hover {

    background: linear-gradient(to right, #ff0000, #00ff00);

    border-color: transparent;

}

 

.btn-round-full {

    border-radius: 50px;

}

 

.btn-main {

    background: #223a66;

    color: #fff;

    border-color: #223a66;

}

 