a {
  color: aliceblue;
}

.navbar {
  background-color: rgb(108, 63, 214);
}

.navbar-nav .nav-link {
  color: white;
}

li {
  margin-left: 40px;

  font-size: 19px;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.abc {
  font-size: 30px;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn-outline-success {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
