 

//View specialization section

.section-title {

    margin-bottom: 70px;

}

.section-title h2 {

    color: #223a66;

}

.divider {

    width: 40px;

    height: 5px;

    background: #e12454;

}

.main-image{

    transition: transform 0.5s ease-in-out;

}

.main-image:hover {

   

   

    transform: scale(1.1, 1.1);

   

        /* Example transition with a 0.5s duration */

    /* Scale horizontally by 1.2 and vertically by 0.8 */

}

.content h4:hover{

    font-size: 40px;

}

 

.content h4 {

    transition: font-size 0.5s ease-in-out;

}

 

.btn-grad {

    background-image: linear-gradient(to left, #d42b11 0%, #223a66 100%, #7aa14b 100%);

    margin: 10px;

    padding: 15px 45px;

    text-align: center;

    text-transform: uppercase;

    transition: 0.5s;

    background-size: 200% auto;

    color: white;

    box-shadow: 0 0 20px #eee;

    border-radius: 10px;

    display: block;

    text-decoration: none;

}

 

.btn-grad:hover {

    background-position: center;

    /* change the direction of the change here */

    color: #fff;

    text-decoration: none;

}

 

.btn1 {

    display: inline-block;

    font-size: 14px !important;

    font-size: 0.8125rem;

    font-weight: 700;

    letter-spacing: .5px;

    padding: 0.75rem 2rem;

    font-family: "Exo", sans-serif;

    text-transform: uppercase;

    border-radius: 5px;

    border: 2px solid transparent;

    transition: all .35s ease;

    text-decoration: none;

}

 

.btn1:hover {

    background: linear-gradient(to right, #ff0000, #00ff00);

    border-color: transparent;

}

 

.btn-round-full {

    border-radius: 50px;

}

 

.btn-main {

    background: #223a66;

    color: #fff;

    border-color: #223a66;

}